[submodule "vendor/boost-cmake"]
	path = vendor/boost-cmake
	url = https://github.com/Orphis/boost-cmake.git
[submodule "data"]
	path = data
	url = https://github.com/MidgeOnGithub/DnD-Data.git
[submodule "vendor/nlohmann_json"]
	path = vendor/nlohmann_json
	url = https://github.com/nlohmann/json.git
